{% csrf_token %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>BLOOM</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/web/images/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/static/web/css/style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="/static/web/images/core-img/leaf.png" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="bloombns@gmail.com"><i
                                        class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email:
                                        bloombns@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+91 7892387835"><i
                                        class="fa fa-phone" aria-hidden="true"></i> <span>Call Us:+91
                                        7892387835</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                <!-- Language Dropdown -->
                                <div class="">
                                    <a href="/admin_login/"><i class="fa fa-user" aria-hidden="true"></i>
                                        <span>Admin</span></a>
                                </div>
                                <!-- Login -->
                                <div class="logout">
                                    <a href="/login/"><i class="fa fa-user" aria-hidden="true"></i>
                                        <span>Login</span></a>
                                </div>

                                <div class="login">
                                    <a href="/web_profile/"><i class="fa fa-user" aria-hidden="true"></i> <span>My
                                            Profile</span></a>
                                </div>
                                <div class="cart">
                                    <a href="/cart/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart
                                            <span class="cart-quantity" id="addCart">0</span></span></a>
                                </div>

                                <div class="cart ml-4 login">
                                    <a href="/user_logout/"><i class="fa fa-user" aria-hidden="true"></i><span>Logout
                                        </span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="/index/" class="nav-brand">
                            <h4 class="fw-bold text-white">BLOOM </h4>
                        </a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/index/">Home</a></li>
                                    <li><a href="/about/">About</a></li>
                                    <li><a href="/shop/">Shop</a></li>
                                    <li class="dropdown show">
                                        <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Category
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="categories">

                                        </ul>
                                    </li>

                                    <li><a href="/gallery/">Gallery</a></li>
                                    <li><a href="/contact/">Contact</a></li>
                                </ul>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
            style="background-image: url(/static/web/images/bg-img/cont.jpg);">
            <h2>Forgot Password</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="login1">
        <div class="">
            <div class="conatiner pt-5">
                <h1 class="text-center pb-3">FORGOT PASSWORD</h1>
            </div>

            <div class="d-flex justify-content-center login-form">
                <div class="card mb-4" style="width: 40rem;">
                    <div class="card-body">
                        <p class="card-text">
                        <form>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text"></div>
                            </div>
                            <div class="mb-4 otp" style="display: none;">
                                <label for="exampleInputPassword1" class="form-label">OTP</label>
                                <input type="text" class="form-control" id="txtOTP">
                            </div>
                            <div class="col-6 mx-auto my-3 d-flex justify-content-center">
                                <button class="btn btn-primary py-2 px-4" type="button" id="btn_submit">Send
                                    OTP</button>
                            </div>

                            <div class="col-6 mx-auto my-3 d-flex justify-content-center">
                                <button class="btn btn-primary py-2 px-4" type="button" id="btn_otp"
                                    style="display: none;">Validate OTP</button>
                            </div>

                            <hr>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(/static/web/images/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="/index/" class="nav-brand">
                                    <h4 class="fw-bold text-white">BLOOM </h4>
                                </a>

                            </div>
                            <p>Living things thrive off routine, and plants are no exception to the rule. There’s no
                                better way to ensure their health than establishing a steady routine that involves
                                checking in on them, watering regularly, and fertilizing during spring and summer.</p>
                            <div class="social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="/index/">Home</a></li>
                                    <li><a href="/about/">About</a></li>
                                    <li><a href="/shop/">Shop</a></li>
                                    <li><a href="/gallery/">Gallery</a></li>
                                    <li><a href="/contact/">Contact</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>



                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Address:</span> Bengaluru, Karnataka</p>
                                <p><span>Phone:</span> +91 7892387835</p>
                                <p><span>Email:</span> bloombns@gmail.com</p>
                                <p><span>Open hours:</span> Mon - Sun: 8 AM to 9 PM</p>
                                <p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 ">
                        <div class="copywrite-text d-flex justify-content-center">
                            <p>&copy;
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved <i
                                    class="fa fa-heart-o" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/static/web/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper j/static/web/s -->
    <script src="/static/web/js/bootstrap/popper.min.js"></script>
    <!-- Bootstra/static/web/p js -->
    <script src="/static/web/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plug/static/web/ins js -->
    <script src="/static/web/js/plugins/plugins.js"></script>
    <!-- Active j/static/web/s -->
    <script src="/static/web/js/active.js"></script>
    <script src="/static/web/js/jsCartCount.js"></script>

</body>

</html>

<script type="text/javascript">
    $("#btn_otp").hide();
    $(document).ready(function () {

        $("#btn_submit").click(function () {

            if ($("#txtEmail").val() == "") {
                alert("Please Enter Email");
                $("#txtEmail").focus();
                return false;
            }

            const otp = Math.floor(1000 + Math.random() * 9999);

            $("#btn_submit").prop("disabled", true);
            // alert("alert");
            let formData = new FormData();
            formData.append("txtEmail", $("#txtEmail").val());
            formData.append("txtOTP", otp);
            formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());


            $.ajax({
                url: "/forgot_password_otp/",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    if (response == 10) {
                        alert("Not a Registered Email, Please add valid email");

                    } else {
                        $(".otp").show();
                        $("#btn_submit").hide();
                        $("#btn_otp").show();
                    }
                }

            });
        });

        $("#btn_otp").click(function () {

            if ($("#txtEmail").val() == "") {
                alert("Please Enter Email");
                $("#txtEmail").focus();
                return false;
            }

            if ($("#txtOTP").val().length < 4) {
                alert("Please Enter Valid OTP");
                $("#txtOTP").focus();
                return false;
            }

            $("#btn_submit").prop("disabled", true);
            // alert("alert");
            let formData = new FormData();
            formData.append("txtEmail", $("#txtEmail").val());
            formData.append("txtOTP", $("#txtOTP").val());
            formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());


            $.ajax({
                url: "/validate_otp/",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    if (response == 10) {
                        alert("Invalid OTP");

                    } else {
                        window.location = '/update_password/';
                    }
                }

            });
        });

    });

</script>